@model ResumenMontosViewModel
@{
    string ObtenerClaseBalance(decimal balance)
    {
        return balance >= 0 ? "activo" : "pasivo";

    }
}
<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Ingresos</strong>
        </div>
        <div class="activo">
            @Model.Ingresos.ToString("N")
        </div>
    </div>
    <div>
        <div>
            <strong>Retiros</strong>
        </div>
        <div class="pasivo">
            @Model.Gastos.ToString("N")
        </div>
    </div>
    <div>
        <div>
            <strong>Total</strong>
        </div>
        <div class="@ObtenerClaseBalance(@Model.Total)">
            @Model.Total.ToString("N")
        </div>
    </div>
</div>
