
@{
    ViewData["Title"] = "Confirmar Email";
}
<div class="ConfirmarEmail">
    <h1 id="TituloConfirmarEmail">¡Gracias por confirmar tu correo electrónico!</h1>
    <p>Ahora puedes disfrutar de todos los beneficios de nuestro servicio.</p>
    <a href="/Home/Index" class="btn" id="ButtonConfirmEmail">Ir al inicio</a>
</div>

