@model string
@{
    ViewData["Tile"] = "JC_ManejoDePresupuestos";
}
<h3>Te hemos enviado un correo de confirmación de cuenta a : <a href="https://www.gmail.com" target="_blank">@Model.</a><br />Por favor revisa la bandeja de spam si no lo ves en la bandeja de entrada </h3>
